@mixin sign-up-header-list {
  margin: 0 40px 0 0;
  min-width: 60px;
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 12px;
  color: #888;
}
// 下記mixinは色の指定は無い
@mixin sign-up-header-progress-status-btn {
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  border-radius: 50%;
}

@mixin sign-up-header-progress-status-line {
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ccc;
}


.single-conteiner {
  padding: 0 0 220px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  color: #333;
  .single-header {
    height: 128px;
    text-align: center;
    h1 {
      margin: 40px 0 0;
      display: inline-block;
      a {
        width: 185px;
        height: 49px;
        line-height: 49px;
        display: inline-block;
        margin: 0 8px 0 0;
      }
    }
    .progress-bar {
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      text-align: top;
      .clearfix {
        .active {
          font-weight: 600;
          color: #ea352d;
          margin: 0 40px 0 0;
          min-width: 60px;
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          .progress-status__main {
            background: #ea352d;
            @include sign-up-header-progress-status-btn;
          }
          .progress-status__main::after {
            left: 50%;
            @include sign-up-header-progress-status-line;
          }
        }
        li {
          @include sign-up-header-list; 
          .progress-status {
            background: #ccc;
            @include sign-up-header-progress-status-btn;
          }
          .progress-status::before {
            right: 50%;
            @include sign-up-header-progress-status-line;
          }
          .progress-status::after {
            left: 50%;
            @include sign-up-header-progress-status-line;
          }
        }
        .end {
          @include sign-up-header-list; 
          .progress-status__end {
            background: #ccc;
            @include sign-up-header-progress-status-btn;
          }
          .progress-status__end::before {
            right: 50%;
            @include sign-up-header-progress-status-line
          }
        }
      }
    }
  }
}