// 後でmixinは別ファイルに格納
@mixin progress-font {
  margin: 0 40px 0 0;
  min-width: 60px;
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 12px;
}

@mixin progress-btn {
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  border-radius: 50%;
}

@mixin progress-line-after {
  left: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
}

@mixin progress-line-before {
  right: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
}


.single-conteiner {
  padding: 0 0 220px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  color: #333;
  .single-header {
    height: 128px;
    text-align: center;
    h1 {
      margin: 40px 0 0;
      display: inline-block;
      a {
        width: 185px;
        height: 49px;
        line-height: 49px;
        display: inline-block;
        margin: 0 8px 0 0;
      }
    }
    .progress-bar {
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      text-align: top;
      .clearfix {
        .btn1 {
          color: #888;
          @include progress-font;
          .status1 {
            background: #ea352d;
            @include progress-btn;
          }
          .status1::after {
            background: #ea352d;
            @include progress-line-after;
          }
        }
        .btn2 {
          font-weight: 600;
          color: #ea352d;
          @include progress-font;
          .status2 {
            background: #ea352d;
            @include progress-btn;
          }
          .status2::before {
            background: #ea352d;
            @include progress-line-before;
          }
          .status2::after {
            @include progress-line-after;
            background: #ccc;
          }
        }
        .btn3 {
          color: #888;
          @include progress-font;
          .status3 {
            background: #ccc;
            @include progress-btn;
          }
          .status3::before {
            @include progress-line-before;
            background: #ccc;
          }
          .status3::after {
            @include progress-line-after;
            background: #ccc;
          }
        }
        .btn4 {
          color: #888;
          @include progress-font;
          .status4 {
            background: #ccc;
            @include progress-btn;
          }
          .status4::before {
            @include progress-line-before;
            background: #ccc;
          }
          .status4::after {
            @include progress-line-after;
            background: #ccc;
          }
        }
        .btn5 {
          color: #888;
          @include progress-font;
          .status5 {
            background: #ccc;
            @include progress-btn;
          }
          .status5::before {
            @include progress-line-before;
            background: #ccc;
          }
        }
      }
    }
  }
  // ここまででヘッダー部分
  .single-main {
    display: block;
    .container{
      width: 700px;
      margin: 0 auto;
      background: #fff;
      .single-head {
        font-size: 22px;
        padding: 32px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
      }
      form {
        padding: 40px 40px 64px;
        border-top: 1px solid #f5f5f5;
        .single-content {
          max-width: 343px;
          margin: 0 auto;
          .form-group__top {
            label {
              font-weight: 600;
              display: inline-block;
              font-size: 14px;
            }
            .absolute {
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
            .input-default {
              width: calc(100% - 24px);
              margin: 8px 0 0;
              height: 46px;
              padding: 0 8px 0px 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              min-height: 1.5em;
              font-weight: 400;
            }
          }
          .form-group {
            margin-top: 32px;
            position: relative;
            h3{
              font-size: 16px;
              font-weight: bold;
            }
            p {
              margin: 8px 0 0;
              line-height: 1.5;
              font-size: 14px;
            }
            label {
              font-weight: 600;
              display: inline-block;
              font-size: 14px;
            }
            .absolute {
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
            .input-default {
              width: calc(100% - 24px);
              margin: 8px 0 0;
              height: 46px;
              padding: 0 8px 0px 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              min-height: 1.5em;
            }
            .prefecture__select-btn {
              right: 12px;
              position: absolute;
              top: 40px;
              z-index: 3;
              color: #888;
              font-size: 18px;
            }
            .prefecture__input {
              -webkit-appearance: none;
              appearance: none;
              padding: 0 8px 0 16px;
              margin: 8px 0 0;
              width: 100.5%;
              position: relative;
              z-index: 2;
              height: 48px;
              border-radius: 4px;
              border: 1px solid #ccc;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              background: #fff;
            }
            .birthday-select-wrap {
              display: flex;
              &__year, &__month, &__day {
                width: 76px;
                display: inline-block;
                margin: 8px 0 0;
                position: relative;
                background: #fff;
                &__btn {
                  right: 12px;
                  position: absolute;
                  top: 32%;
                  z-index: 3;
                  color: #888;
                  font-size: 18px;
                  &__select {
                    -webkit-appearance: none;
                    appearance: none;
                    padding: 0 10px;
                    width: 100%;
                    position: relative;
                    z-index: 2;
                    height: 48px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    font-size: 16px;
                    line-height: 1.5;
                    cursor: pointer;
                    background: #fff;
                  }
                }
              }
              &__font {
                margin: 8px 4px 0 4px;
                display: flex;
                align-items: center;
              }
            }
            &__box {
              display: flex;
              .input-default-left {
                width: 50%;
                margin: 8px 8px 0 0;
                height: 46px;
                padding: 0px 16px 0px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
              }
              .input-default-right {
                width: 50%;
                margin: 8px 0 0 0;
                height: 46px;
                padding: 0px 16px 0px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
              }
            }
          }
          .form-info-text {
            margin: 8px 0 0;
            line-height: 1.5;
            color: #888;
            font-size: 14.5px;
          }
        }
        .single-content2 {
          max-width: 343px;
          margin: 0 auto;
          .form-group2{
            margin: 40px 0 0;
          }
          .form-group3{
            margin-top: 32px;
            .text-center {
              font-size: 14px;
              text-align: center;
              .terms-link {
                color: #0099e8;
                text-decoration: none;
              }
            }
          }
          .next-btn {
            margin-top: 32px;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
          }
          .form-group4 {
            margin-top: 32px;
            p {
              text-align: right;
              .register-link {
                font-size: 14px;
                color: #0099e8;
                cursor: pointer;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
} 