//商品出品画面[ayano]
//区切り線(aya)
$separator: #eee;
//ベース文字カラー(aya)
$base-font: #333;
//ベース背景カラー(aya)
$base-background: #fff;

//必須表示
///必須表示ベースカラー(aya)
$require-red: #ea352d;
///必須表示文字カラー(aya)
$require-white: #fff;

//プルダウン
///プルダウンアイコンカラー(aya)
$pulldown-icon: #888;
///プルダウン背景カラー(aya)
$pulldown-back: #fff;
///プルダウン枠カラー(aya)
$pulldown-frame: #ccc;
//プルダウン文字カラー(aya)
$pulldown-sentence: #333;
//アイテム出品ボタンカラー（出品）(aya)
$item-sell-btn:#ea352d;
//アイテム出品ボタン文字カラー（出品/もどる）(aya)
$item-sell-btn-font: #fff;

// リンク(aya)
$item-new-link: #0099e8;

// リンクhover(aya)
$item-new-link-hover: #66B9F0;



