//区切り線
$separator: #eee;




//必須
///必須表示ベースカラー
$require-red: #ea352d;
///必須表示文字カラー
$require-white: #fff;

//プルダウン
///プルダウンアイコンカラー
$pulldown-icon: #888;
///プルダウン背景カラー
$pulldown-back: #fff;
///プルダウン枠カラー
$pulldown-frame: #ccc;
//プルダウン文字カラー
$pulldown-sentence: #333;