//商品出品画面[ayano]
//区切り線
$separator: #eee;
//ベース文字カラー
$base-font: #333;
//ベース背景カラー
$base-background: #fff;
//必須表示
///必須表示ベースカラー
$require-red: #ea352d;
///必須表示文字カラー
$require-white: #fff;
//プルダウン
///プルダウンアイコンカラー
$pulldown-icon: #888;
///プルダウン背景カラー
$pulldown-back: #fff;
///プルダウン枠カラー
$pulldown-frame: #ccc;
//プルダウン文字カラー
$pulldown-sentence: #333;
//ボタン（出品/もどる）
$btn-font: #fff;



