.top-page {
  min-height: 100vh;
  background-color: #EEEDEB;
  &__trendy-box {
    position: relative;
    cursor: pointer;
    // &__article {
    //   .news {
    //     box-shadow:inset 0 1px 5px rgba(0,0,0,0.18);
    //     z-index: 3;
    //   }
    // }
    &__article2 {
      .camp {
        display: block;
        height: 390px;
        width: 750px;
        object-fit: contain;
        margin: 0 auto;        
      }
    }    
    &__article3 { /*切り替わる画面*/
      box-shadow:inset 0 1px 5px rgba(0,0,0,0.18);
      background-image: url('//web-jp-assets.mercdn.net/_next/static/images/top-banner-main-892151cc75b1f6a1285bf7943c9b933c.jpg');
      display: flex;
      &__ibox3 {
        display: flex;
        &__contents{
          height: 390px;
          width: 710px;
          position: relative;
          left: 325px;
          top: 35px;
          font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
          &__first-sentence  {
            color: #313131;
            width: 600px;
            font-size: 60px;
            font-weight: bold;
            letter-spacing: 1px;
            margin-bottom: 16px;
            line-height: 1.3;
          }
          &__second-sentence  {
            color: black;
            width: 400px;
            margin-bottom: 24px;
            line-height: 1.9;
            font-size: 18px;
          }
          &__icons {
            display: flex;
            width: 350px;
            height: 50px;
            &__app-store {
              .app-store {
              height: 50px;
              width: 170px;
              }
            }
            &__google-play {
            margin-left: 8px;
              .google-play {
              height: 50px;
              width: 170px;
              }
            }
          }  
        }
        .phone {
          background-size: auto;
          height: 390px;
        }
      }
    }  
  }    
  .top-page__popular-categories {
    position: relative;
    height: 170px;
    background-color: white;
    .top-page__heading-line {
      width: 300px;
      margin: 0 auto;
      font-size: 25px;
      letter-spacing: 1.5px;
      color: #313131;
      font-weight: bold;
      position: relative;
      top: 60px;
      left: 50px;
    }
    .top-page__menu {
      display: flex;
      justify-content: center;
      position: relative;
      top: 90px;
      &__item a {
        text-decoration: none;
        color: #313131;
        font-weight: bold;
        font-size: 15px;
        padding: 0.5em 1em;
        margin: 2em 0;
        background-color: #EFEFEF;
        border-radius: 20px;
        margin-left: 10px;
      }
    }
  }
  .top-page__new-items {
    position: relative;
    width: 100%;
    padding: 0px 0px 90px;
    background-color: #EFEFEF;
    letter-spacing: 1px;
    .top-page__category {
      width: 1000px;
      margin: 0 auto;
      &__new-items {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        vertical-align: baseline;
        &__more a {
          color: #6091d3;
          text-decoration: none;
          font-size: 14px;
          vertical-align: baseline
        }
      }
      .top-page__category__largebox {
        display: flex;
        flex-wrap: wrap;
        .top-page__category-box {
          position: relative;
          width: 185px;
          height: 250px;
          margin: 20px 18.75px 10px 0px;
          box-shadow: 2px 2px 4px gray;
          background-color: white;
          &:hover {
            outline: 1.5px solid #6091d3;
          }
            a {
              position: absolute;
              height: 100%;
              width: 100%;
            }
              img.top-new-item {
                width: 185px;
                height: 185px;
              }
              .top-page__price {
                position: absolute;
                left: 0px;
                bottom: 40px;
                display: inline-block;
                padding: 0.2em 0.8em;
                margin: 2em 0;
                font-size: 18px;
                background-color: rgba(50,50,52, 0.5);
                color: white;
                border-radius: 0px 30px 30px 0px;
                .top-page__product-name {
                  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
                  position: absolute;
                  top: 50px;
                  left: 10px;
                  width: 165px;
                  height: 45px;
                  font-size: 14px;
                  line-height: 21px;
                  color: black;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  overflow: hidden;
                }
              }
        }
        .top-page__category-box:last-child {
          margin: 20px 0px 10px 0px;
        }
      }
    }
  }
  
}
.slick-dots {
  position: absolute !important;
  margin-bottom: 20px !important;
  li {
    margin-bottom: 20px !important;
    button:before {
      content: "●" !important;
      font-size: 10px !important;
      color: black !important;
    }
  }
}

