.top-page {
  min-height: 100vh;
  padding-bottom: 180px;
  background-color: #EEEDEB;
  &__trendy-box {
    position: relative;
    width: 100%;
    height: 290px;
    cursor: pointer;
    a {
      text-decoration: none;
      height: 0;
      width: 0;
    }
    &__article { /*キャンプの画面*/
      height: 390px;
      width: 750px;
      margin: 0 auto;
      a {
        position: absolute;
        height: 100%;
        width: 100%;
      }
      &__back-button {
        font-size: 37px;
        color: white;
        position: absolute;
        top: 177px;
        left: 57px;
        filter:drop-shadow(5px 5px 5px #4e4e4e);
      }
      &__forward-button {
        font-size: 37px;
        color: white;
        position: absolute;
        top: 177px;
        right: 57px;
        filter:drop-shadow(5px 5px 5px #4e4e4e);
      }
      &__dot-left{
        font-size: 10px;
        color: white;
        position: absolute;
        top: 360px;
        left: 705px;
      }
      &__dot-right {
        font-size: 10px;
        color: white;
        position: absolute;
        top: 360px;
        right: 705px;
      }
    }
    &__article2 { /*切り替わる画面*/
      background: url('https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-892151cc75b1f6a1285bf7943c9b933c.jpg');
      display: flex;
      &__contents{
        height: 390px;
        width: 710px;
        position: relative;
        left: 330px;
        top: 30px;
        font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
        &__first-sentence  {
          color: #313131;
          width: 600px;
          font-size: 60px;
          font-weight: bold;
          letter-spacing: 1px;
          margin-bottom: 20px;
          line-height: 1.3;
        }
        &__second-sentence  {
          color: black;
          width: 400px;
          margin-bottom: 20px;
          line-height: 1.9;
          font-size: 18px;
        }
        &__icons {
          display: flex;
          width: 270px;
          height: 50px;
          &__app-store  {
           
          }
          &__google-play {
           margin-left: 10px;
          }
        }
      &__contents__phone-img {
        margin-right: 100px;
      }
    }
    }
  }
  
  .top-page__popular-categories {
    position: relative;
    top: 100px;
    height: 170px;
    background-color: white;
    .top-page__heading-line {
      width: 300px;
      margin: 0 auto;
      font-size: 25px;
      letter-spacing: 1.5px;
      color: #313131;
      font-weight: bold;
      position: relative;
      top: 60px;
      left: 50px;
    }
    .top-page__menu {
      display: flex;
      justify-content: center;
      position: relative;
      top: 90px;
      &__item a {
        text-decoration: none;
        color: #313131;
        font-weight: bold;
        font-size: 15px;
        padding: 0.5em 1em;
        margin: 2em 0;
        background-color: #EFEFEF;
        border-radius: 20px;
        margin-left: 10px;
      }
    }
  }
  .top-page__new-items {
    position: relative;
    top: 100px;
    width: 100%;
    background-color: #EFEFEF;
    letter-spacing: 1px;
    .top-page__category {
      width: 1000px;
      height: 650px;
      margin: 0 auto;
      &__new-items {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        vertical-align: baseline;
        &__more a {
          color: #6091d3;
          text-decoration: none;
          font-size: 14px;
          vertical-align: baseline
        }
      }
      .top-page__category__largebox {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .top-page__category-box {
          position: relative;
          width: 185px;
          height: 250px;
          margin: 20px 0px 10px 0px;
          background-color: white;
          box-shadow: 2px 2px 4px gray;
          &:hover {
            outline: 1.5px solid #6091d3;
          }
            a{
              position: absolute;
              height: 100%;
              width: 100%;
            }
              .top-page__price {
                position: absolute;
                left: 0px;
                bottom: 40px;
                display: inline-block;
                padding: 0.2em 0.8em;
                margin: 2em 0;
                font-size: 18px;
                background-color: rgba(50,50,52, 0.5);
                color: white;
                border-radius: 0px 30px 30px 0px;
                .top-page__product-name {
                  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
                  position: absolute;
                  top: 50px;
                  left: 10px;
                  width: 165px;
                  height: 45px;
                  font-size: 14px;
                  line-height: 21px;
                  color: black;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  overflow: hidden;
                }
              }
        }
      }
    }
  }
    .top-page__exhibit-button {
      position: fixed;
      bottom: 30px; 
      right: 35px;
      width: 50px;
      height: 50px;
      z-index: 10;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background-color: #E9352D;
      color: white;
      p {
        margin-top: 30px;
        margin-left: 58px;
        font-size: 22px;
      }
      a {
        color: white;
        text-decoration: none;
      }
      .exhibit {
        margin-top: 9px;
        margin-left: 50px;
        font-size: 56px;
      }
    }
  
}