.app-banner
 .app-banner__contents
   .app-banner__contents__inner
     .app-banner__contents__inner__first-sentence スマホでかんたんフリマアプリ
     .app-banner__contents__inner__second-sentence 今すぐ無料ダウンロード!
     .app-banner__contents__inner__icons
       .app-banner__contents__inner__icons__mercari
         = image_tag('mercari_icon.png', :size => '68', class: 'hoge')
       .app-banner__contents__inner__icons__app-store
         = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3296506464', :width => '133', :height => '40'), 'root_path'
       .app-banner__contents__inner__icons__google-play
         = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3296506464', :width => '133', :height => '40'), 'root_path'
   .app-banner__contents__inner__phone-img
     = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?