%footer.purchase-confirmation-page__footer
  %nav
    %ul.purchase-confirmation-page__footer__list
      %li
        = link_to 'プライバシーポリシー', '#'
      %li
        = link_to 'メルカリ利用規約', '#'
      %li
        = link_to '特定商取引に関する表記', '#'

  .purchase-confirmation-page__footer__logo
    = link_to image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3761641567', width: '80px', height: '65px' ), '/'
    %p
      %small © 2019 Mercari