%li.mypage-item
  = link_to item_path(item), class: 'mypage-item__link' do
    .mypage-item__link__image-box
      = image_tag item.images[0], class: 'mypage-item__link__image-box__image'
    .mypage-item__link__body
      .mypage-item__link__body__name
        = item.name
      .mypage-item__link__body__icons
        %span.mypage-item__link__body__icons__count
          %i.icon-like-border
          %span 0
        %span.mypage-item__link__body__icons__count
          %i.icon-message
          %span 0
        - if item.buyer_id.blank? && item.status.blank?  
          .mypage-item__link__body__icons__mark--listing
            出品中
        - elsif item.status.present?    
          .mypage-item__link__body__icons__mark--stopping
            公開停止中
        - elsif item.buyer_id.present?    
          .mypage-item__link__body__icons__mark--traded
            売却済
        - elsif current.user.id == item.buyer_id    
          .mypage-item__link__body__icons__mark--traded
            購入済
  = fa_icon'chevron-right', class: 'mypage-item__link__icon'
