.top-page__category-box
  = link_to '#' do
    = image_tag("https://static.mercdn.net/thumb/photos/m45469538741_1.jpg?1569668416", width: '185px', height: '185px')  
    .top-page__price
      ¥1,500
      .top-page__product-name
        ニット帽。文章を長く売っています。反映されているか。