%section.items-box
  = link_to '#' do
    = image_tag("https://static.mercdn.net/thumb/photos/m45469538741_1.jpg?1569668416", width: '220px', height: '220px')  
    .items-box__body
      %h3 プーマジャージ 途中で文章消えるか、テストテストテストテストト
      .items-box__body__num
        .items-box__body__num__price ¥9,800
        .items-box__body__num__iine
          = fa_icon 'heart-o', class: 'item-heart'
          %span 10     