.listing-item-change-box
  = link_to '商品を編集する',edit_item_path(@item), class: 'listing-item-change-box__edit-btn'
  %p.listing-item-change-box__text or
  - if item.status.blank?
    = link_to '出品を一旦停止する', stop_listing_item_path(item), class: 'listing-item-change-box__stop-btn', method: :patch
  -else
    = link_to '出品を再開する', restart_listing_item_path(item), class: 'listing-item-change-box__restart-btn', method: :patch
  = link_to 'この商品を削除する', item_path(item), class: 'listing-item-change-box__delete-btn', id: 'item_delete', method: :delete