.has-error-text {
  color: #ea352d;
    line-height: 1.5;
    font-size: 14px;
  li {
    margin: 8px 0 0;
  }
}

.has-error-text2 {
  color: #ea352d;
    line-height: 1.5;
    font-size: 14px;
  li {
    text-align: center;
    padding: 0 0 5px;
  }
}