.wrapper {
  margin: 40px auto 0;
  width: 1020px;
  height: 1292px;
  &__contents {
    float: right;
    width: 700px;
    &__inner {
      background: #fff;
      &__box {
        padding: 64px;
        border-top: 1px solid #f5f5f5;
        &__content {
          max-width: 320px;
          margin: 0 auto;
          &__link {
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            text-align: center;
            min-height: 1.5em;
            text-decoration: none;
          } 
        }
      }
    }
  }
}