//商品出品必須表示[ayano]
@mixin require {
  background: $require-red;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: $require-white;
  font-size: 12px;
  vertical-align: top;
  font-weight: bold;
}

@mixin clearfix {
  &::after {
      content: "";
      display: block;
      clear: both;
  }
}
//商品出品画面プルダウン[ayano]
@mixin pulldown {
  &__label {
    font-weight: 600;
  }
  &__require {
    @include require;
  }
  &__pulldown {
    margin: 8px 0 0;
    position: relative;
    &--choices {
      color: $pulldown-sentence;
      background: $pulldown-back;
      padding: 0 16px;
      width: 100%;
      height: 48px;
      border: 1px solid $pulldown-frame;
      font-size: 16px;
      cursor: pointer;
      -webkit-appearance: none;
    }
    &--icon {
    position: absolute;
    right: 16px;
    top: 31%;
    color: $pulldown-icon;
    font-family: "FontAwesome";                
    }
  }
}
//商品出品画面 任意入力欄(ブランド)[長谷部]
@mixin input-default {
  &__i-label {
    font-weight: 600;
  }
  &__i-require {
    background: #ccc;;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    font-weight: 600;
  }
  &__i-field {
    margin: 8px 0 0;
    position: relative;
    width: 400px;
    &--complete {
      box-sizing: border-box;
      width: 100%;
      height: 48px;
      padding: 0 16px;
      border-radius: 5px;
      border: 1px solid $pulldown-frame;
      background: $pulldown-back;
      line-height: 1.5;
      font-size: 16px;
      -webkit-appearance: none;
    }
  }  
}
//商品出品画面[ayano]
@mixin item-new-btn {
  display: block;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

// ボタン/出品商品の編集・停止・削除へのビューにて使用[長谷部]
@mixin submit-btn($margin, $b-color) {
  display: block;
  margin: $margin;
  width: 622px;
  background: $b-color;
  border: 1px solid $b-color;
  color:  #fff;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  transition: all ease-out .3s;
  text-decoration: none;
}